
@import url('https://fonts.googleapis.com/css?family=Contrail+One');
 
 /*layout*/
	body {
		font-family: 'Contrail One', cursive;
	}
	
	.navbar { 
		margin-bottom: 0;
		border: None;
	}
	
	.nav-item:hover{
		background-color: #54B2C7;                 
	}
	.brand-image{
		max-height:50px;
		max-width:50px;
	}
	
	.login-logout{
		margin-left:7px;
		padding:7px 15px !important; 
		margin-top:17px !important;
	}
	
	.search-form{
		padding-top:10px;
	}
	
	#sub-navbar {
		min-height:10px !important;
		border: None;
	}
	
	#sub-navbar ul li > a {
		padding-top:1px !important; 
		padding-bottom:1px !important;
	}
	
	#sub-navbar ul li a h5 {
		color: #000000;
	}
  
	footer {
		padding: 2%;
	}   
	
	footer .footer-links a {
		margin-left: 1%;
		margin-right: 1%;
		color: white;
	}
	
	footer .footer-company-name {
		color: white;
	}
	
	footer p {
		align-content: middle;
	}
	white-space: pre-wrap;
            
 /* homepage */
  
	 
   #c1 {
		background-image: url({{ URL::asset('/images/s3.amazonaws.com_upload.uxpin_files_272217_618567_feet-morning-adventure-camping-2.jpg')}});
		background-repeat: no-repeat;
		background-size: cover;
		padding: 10%;
	}
	
	#c1 h1, #c1 h3, #c1 button {
		margin-top: 5%;

	}
	
	.check-account{
		margin-top:2%; 
		margin-bottom:8%; 
		color:#ffffff;
	}
	
	h1{
		font-size: 350%;
		color:#ffffff;
	}
	h3{
		color:#ffffff;
	}	
	
	#c2, #c3 {
		padding-top: 5%;
		padding-right: 10%;
		padding-left: 10%;
	}
	.log-book{
		margin-top: 1%;
		color:#ffffff;
		font-size:200%;
	}
		   
	#f1 { 
		width: 100%; 
		overflow: hidden; 
		margin: 0;
	}
	
	#f1 ul { 
		list-style: none; 
		position: relative; 
		float: left; 
		display: block; 
		left: 50%; 
	}
		
	#f1 ul li { 
		position: relative; 
		float: left; 
		display: block; 
		right: 50%;
	}
	
	.nav-tabs {
		border-bottom-color: transparent;
	}
	
	#b1 {
		border: none;
		padding-top: 1%;
		padding-bottom: 1%;
		padding-right: 3%;
		padding-left: 3%;
		margin-top:5%;
	}
	
	#b2 {
		padding: 0;
		border: none;
		background: none;
	}
	#b2:hover{
		border:none;
		color:white;
	}
	
	
	.list-group li, row li {
		background-color: #e6e6e6;
		border: none;
		text-align: left;
		color: black;
	}
	
/*contact page*/	
	#contact_div {		
		padding: 5%;
		padding-left: 15%;
		padding-right: 15%
	}
	.send-button{
        padding-bottom:2%;
    }
	
/*about page*/	
	
	.about-page-text{
		font-weight: bold;
		color: white;
	}
	
	.subcribe:hover, .subcribe:visited{
		text-decoration:none;
		color:#ffffff;
	}
	
	/* Company contact */
  
	#contact_company_div {
		color: black;
		padding: 5%;
		padding-left: 15%;
		padding-right: 15%
	}
	
	/* Login */
	.login-pad{
		padding: 20px;
		margin-top:15px;
	}
	
	
	/* Company login */
	
	.company-user{
		font-size: large; 
		font-weight: bold; 
		text-decoration-color: #54B2C7;
	}
	
	.send-button{
		text-align: center;
	}
	
	.change-language{
		color: black;
		text-decoration: underline;
	}

	
	/* profile */
	
	.inline-block {
		display: inline-block;
	}

	.float-right {
		float: right;
		vertical-align: middle;
	}

	.float-left {
		float: left;
	}

	#work-experience-panel {
		padding: 10px;
	}

	#profile-img {
		margin: 0 auto;
		max-width: 100%;
		max-height: auto;
		margin-top: 5px;
		display: block;
	}

	.carousel img {
		margin-top:6px;
		width: 100%;
		height: auto;
		display: inline-block;
		vertical-align: middle;
	}

	.employer-panel {
		margin: 15px;
	}

	.school-panel {
		margin: 15px;
	}


	.col-no-padding {
		padding: 0px;
	}

	.slick-prev:before, .slick-next:before {
		color: #d9534f;
	}

	.panel-default > .panel-heading {
		background-color: #523E3A;
		color: white;
	}

	.orange-badge {
		background-color: orange;
	}

	.purple-badge {
		background-color: purple;
	}

	.red-badge {
		background-color: red;
	}
	.pdf-link{
		margin-top: 10px; 
		text-align: right;
	}
	.img-responsive{
		width:100%;
		height:432px;		
	}
	
	.carousel-control{
		opacity:0.2 !important;
		
	}
	
	/* edit profile */
	
	.edit-btn {
		background-color: #337ab7;
		color: white;
	}

	.edit-pencil{
		float: right;
		font-size: 20px;
		vertical-align: middle;
	}
	
	.pencil-activity {
		margin-top: -12px;
	}

	.modal-header {
		background-color: #d9534f;
		color: white;
	}
	
/* Create default logbook */


	.form-box {
		background: #E3E3E3;
		margin: 7%; 
		padding: 5%;
	}
	
	.form-box div {
		padding: 0.5%;
		padding-right: 2%;
		padding-left: 2%;
	}
	
	.datetime-local {
		color: aliceblue;
	}
	
	/* default log */
	
	
	/* guide Dashboard */
	
	 #Dashboard_div {
		color: black;
		padding: 0%;
		padding-left: 15%;
		padding-right: 15%
	}
/* Job details */
	#Job_div {
		color: black;
		padding: 0%;
		padding-left: 25%;
		padding-right: 15%
	}
	
	.basic-info{
		background-color: #696969; 
		font-size:20px; 
		margin-left:100px;
	}
	.job-detail{
		background-color: #B22222; 
		font-size:20px; 
		padding-left: 40px; 
		padding-right: 40px;
		margin-left: 60px; 
		margin-right: 60px
	}
	.job-finish{
		background-color: #696969; 
		font-size:20px; 
		padding-left: 50px; 
		padding-right: 50px; 
		margin-right:100px;
	}
	  
		
 
 
.adam {
    color: #000;
}
 
